.container {
    -fx-background-color: #CCDEFF !important;
}

.loader {
    -fx-progress-color: #131F33 !important;
}

.loading-message {
    -fx-font: "Work Sans" normal 8pt "sans-serif" !important;
}

/*
STYLESHEET FOR JAVAFXGRAPH VISUALIZATION
*/

.graph {
    -fx-background-color: #CCDEFF !important;
    -fx-border-color: #131F33 !important;
    -fx-border-radius: 4 !important;
}

.vertex {
    -fx-stroke-width: 3 !important;
    -fx-stroke: #131F33 !important;
    -fx-stroke-type: inside !important; /* you should keep this if using arrows */
    -fx-fill: #FFF8BE !important;
}

.vertex-label {
    -fx-font: bold 10pt "sans-serif" !important;
    -fx-background: none !important;
}

.edge {
    -fx-stroke-width: 2 !important;
    -fx-stroke: #CF6F46 !important;
    -fx-stroke-dash-array: 2 5 2 5 !important; /* remove for clean edges */
    -fx-fill: transparent !important; /*important for curved edges */
    -fx-stroke-line-cap: round !important;
    -fx-opacity: 0.8 !important;
}

.edge-label {
    -fx-font: "Work Sans" normal 8pt "sans-serif" !important;
    -fx-background: none !important;
}

.arrow {
    -fx-stroke-width: 2 !important;
    -fx-stroke: #CF6F46 !important;
    -fx-opacity: 0.8 !important;
}

/* Custom vertex. You should revert any unwanted styling in the default element, 
   style, since custom styles will be appended to the default style */
.myVertex {
    -fx-stroke-width: 5 !important;
    -fx-stroke: green !important;
    -fx-stroke-type: inside !important; /* you should keep this if using arrows */
    -fx-fill: yellowgreen !important;
}